
.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-image: url('http://homeguru.io/images/web-hero-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.loginBox {
  text-align: center;
  background-color: rgba(255,255,255,.6);
  padding: 45px 40px 60px 40px;
  border-radius: 10px;
}

.googleUnpressed {
    
}

.googleUnpressed:hover {
  cursor: pointer;
}
